<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="catalog-header">

    <div class="brand-group">

        <button
                class="menu-button"
                type="button">

            <span></span>

        </button>

        <a class="brand" href="index.html">
            Event Online
        </a>

    </div>

    <nav
            class="top-nav"
            id="mainNav">

    </nav>

    <div class="header-actions">



        <a
                class="host-button"
                href="publicar-recinto.html">

            Publicar recinto

        </a>


    </div>

</header>

</body>
</html>