body{
    margin:0;
    background:#f5f0ed;
    font-family:"Montserrat",sans-serif;

    min-height:100vh;

    display:flex;
    flex-direction:column;
}

.simple-header{
    background:white;
    padding:30px;
}

.settings-container{
    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:50px;
}

.settings-card{
    width:500px;

    background:white;

    border-radius:24px;

    padding:40px;
}

.settings-card h2{
    margin-bottom:30px;
}

.settings-card label{
    display:flex;
    justify-content:space-between;

    margin-bottom:25px;
}

.settings-card button{
    width:100%;
    height:50px;

    border:none;

    border-radius:14px;

    background:#9b543f;
    color:white;

    font-weight:700;

    cursor:pointer;
}

.main-footer{
    height:90px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#9b543f;
    color:white;
}
.mobile-nav a.cerrar{
    color: darkred !important;
    text-decoration: underline !important;
}